<!DOCTYPE HTML>
<html>
<head>
	<title>
		AmericasMart Floorplans
	</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" type="text/css" href="https://www.americasmart.com/hubfs/www/includes/css/styles.css">
</head>
<body class="background">
	<div class="grid-wrapper container" ng-app="mapApp" ng-controller="mapAppController as vm">
		<div>
			<div class="map-container" id="map-canvas">
				<svg id="floormaps">
					<g id="zoomCanvas" transform="translate(0,0) scale(1)">
					</g>
				</svg>
				<div class="zoom-menu menu-container">
					<div class="zoom-button" id="zoom-in">+</div>
					<div class="zoom-button" id="zoom-out">&ndash;</div>
				</div>
				<div class="floor-title">
					View all buildings &rarr;</br><b>Building //vm.building// - Floor //vm.floor//</b>
				</div>
				<div class="search-menu menu-container">
					<ul class="search-list">
						<li ng-repeat="booth in vm.booths | filter: vm.exhibitorSearch | orderBy:'-exhibitor[0].exhibName'" ng-click="vm.boothClick(booth.boothID)">
							//booth.bthTitle//:
							<span ng-repeat="exhibitor in booth.exhibitors">//exhibitor.exhibName////$last ? '' : ';'//
							</span>
						</li>
					</ul>
					<div ng-class="(vm.selectedBooth) ? 'selected-booths' : 'none'" ng-if="vm.selectedBooth">
						<div class="exhibitor-info" ng-repeat="exhibitor in vm.selectedExhibitors | orderBy:'-showroomName'">
							<div ng-if="exhibitor.logo"
								 ng-style="{'background-image':'url(http:'+'//exhibitor.logo//'+')',
											'border-radius':'0'}" class="exhibitor-logo"></div>
							<div class="exhibitor-name">//exhibitor.showroomName//</div>
							<!-- <a href="">More Info<span class="next"></span></a>-->
							<input type="checkbox" ng-if="(exhibitor.description) || (exhibitor.attribute.length > 0)" id="//exhibitor.showroomName//">
							<label ng-if="(exhibitor.description) || (exhibitor.attribute.length > 0)" for="//exhibitor.showroomName//">
								<div class="exhibitor-description">
									<span ng-if="exhibitor.description" ng-bind-html="exhibitor.description"></span>
									<span ng-if="exhibitor.attribute.length > 0">
										<ul>
											<li ng-repeat="attribute in exhibitor.attributes">//attrubte.attrName//</li>
										</ul>
									</span>
								</div>
							</label>
						</div>
					</div>
					<div class="search-button" id="search-icon"><input class="search-input" placeholder="Search this floor..." type="text" ng-model="vm.exhibitorSearch"></div>
					<div class="search-clear" ng-if="vm.exhibitorSearch" ng-click="vm.clearSearch()"></div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
