
html, body {
	margin: 0;
	padding: 0;
}
* {
	font-family: Helvetica, Sans-Serif;
}
.map-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
	position: relative;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	max-height: 100%;
	box-sizing: border-box;
}
#floormaps {
	vertical-align: middle;
  /* ensure 1:1 aspect ratio, tweak 50 to make SVG larger */
  width: 100%;
  height: 100vmin;  
  /* set some maximum size (width and height need to match
   * aspect ratio, 1:1 in this case */
  max-width: 100%;
  max-height: 600px;
}
.map-container * {
	user-select: none;
}

.map-container > * {
	margin: 0 auto;
}
.booth-path {
	stroke: #000;
	fill-opacity: 0.2;
	cursor: pointer;
}
.booth-path:hover {
	fill-opacity: 0.5;
}
.booth-selected {
	fill-opacity: 1;
}
.menu-container {
	position: absolute;
	border-radius: 0.5em;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.menu-container > div {
	display: block;
	padding: 0.5em;
	height: 1em;
	width: 1em;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	color: #777;
}
.menu-container > div:hover {
	color: #000;
} 
.floor-title {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 3.5em;
	text-align: center;
	padding: 0.25em;
	background-color: #fff;
	border: 1px solid #eee;
	color: #333;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 1.5;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.zoom-menu > div:first-child {
	border-bottom: 1px solid #999;
}
.zoom-menu {
	bottom: 1em;
	right: 1em;
}
.search-button {
	background-color: #fff;
	padding: 1em !important;
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
}
.search-menu {
	padding: 0em;
	top: 0em;
	bottom: 0em;
	left: 0em;
	width: 300px;
	max-width: 100%;
	border-width: 0 1px 0 0 ;
	border-radius: 0;
	box-sizing: border-box;
}
.search-input {
	border-radius: 0 !important;
}
#search-icon {
	width: 100%;
	height: auto;
}
#search-icon input {
	display: inline-block;
	font-size: 1.25em;
	padding: 0.5em;
	border-width: 0 0 1px 0;
	box-sizing: border-box;
	width: 100% !important;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}
.search-clear {
	position: absolute;
	right: 1.25em;
	top: 1.25em;
	border-radius: 1em;
	height: 0.5em;
	width: 0.5em;
	/* background-color: #aaa */;
}
.search-clear:after {
	content: '\00D7';
	font-size: 2em;
	position: absolute;
	top: -0.125em;
	right: 0.2em;
}
/* #search-icon:after {
	content: "\2315";
	display: inline-block;
	font-size: 2em;
	transform: translateY(-0.55em) scaleX(-1);
} */
.search-list {
	position: absolute;
	top: 4.25em;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}
.search-list {
	list-style: none;
	margin-block-start: 0.5em;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
	margin: 0 !important;
}
.search-list li {
	width: 100%;
	box-sizing: border-box;
	padding: 0.5em;
	border-bottom: 1px solid #eee;
	cursor: pointer;
} 
.search-list li:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#search-checkbox {
	display: none;
}
#search-checkbox + .search-checkbox {
	position: absolute;
	width: 2em;
	height: 3.25em;
	top: 1.333em;
	background-color: #fff;
	display: inline-block;
	font-size: 0.75em;
	padding: 1em 0.5em;
	border-width: 0 0 1px 0;
	box-sizing: border-box;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
	transition: all 0.5s ease-in-out;
	left: 0;
}
#search-checkbox:checked + .search-checkbox {
	left: 300px;
}
#search-checkbox + .search-checkbox:after {
	content: '\25B6';
}
#search-checkbox:checked + .search-checkbox:after {
	content: '\25C0';
}
#search-checkbox + .search-checkbox + div {
	transition: all 0.5s ease-in-out;
	left: -300px;
}
#search-checkbox:checked + .search-checkbox + div {
	left: 0;
}
.selected-booths {
	position: absolute;
	top: 2.75em;
	bottom: 0;
	left: 0;
	width: 300px !important;
	height: auto !important;
	background-color: #fff;
	box-sizing: border-box;
	font-size: 1.5em;
	overflow-y: scroll;
}
.exhibitor-logo {
	width: 100%;
	height: 6em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.exhibitor-info {
	border-bottom: 1px solid #eee;
	padding-bottom: 0.5em;
}
.exhibitor-name {
	text-align: center;
	color: #000;
	margin-top: 0.5em;
}
.exhibitor-description {
	font-weight: normal;
	font-size: 0.75em;
	max-height: 6em;
	overflow-y: hidden;
	color: #000;
}
.exhibitor-info .list.float {
	overflow: initial;
	padding: 0.5em 0;

}
.exhibitor-info input + label .exhibitor-description:after {
	content: '\25BC';
	color: #777;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1em;
	text-align: center;
	padding-top: 2.5em;
	background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}
.exhibitor-info input:checked + label .exhibitor-description {
	height: auto !important;
	max-height: none;
}
.exhibitor-info input:checked + label .exhibitor-description:after {
	display: none;
}
.exhibitor-info input {
	display: none;
}
